# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models and Large Files
app/algorithms/models/*.pt
app/algorithms/models/*.onnx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Local data
data/
output/
downloads/
